.real_container{
    display: flex;
    .real_left{
       .always{
           max-width: 172px;
           height: 36px;
           font-family: 'Hind Siliguri';
           font-size: 22px;
           font-weight: 400;
           line-height: 35.57px;
           color: #BDBDBD;
           margin-top: 142px;
       }
       h2{
           max-width: 540px;
           height: 288px;
           font-family: 'Hind Siliguri';
           font-size: 96px;
           font-weight: 700;
           line-height: 96px;
           color: $dark-color;
           margin-top: 24px;
           margin-bottom: 24px;
       }
       .text{
           width: 540px;
           height: 117px;
           font-family: 'Hind Siliguri';
           font-size: 24px;
           font-weight: 400;
           line-height: 38.81px;
           color: #BDBDBD;
           margin-bottom: 24px;
       }
       a{
           display: flex;
           align-items: center;
           color: $peach-color;
           margin-bottom: 100px;
           gap: 12px;
           font-size: 24px;
       }  
    }       
    .real_right{
       margin-top: 193px;
       margin-left: 31px;
       max-width: 539px;
    }
    @media screen and (max-width:1200px) {
        padding: 30px;
        .real_left{
            h2{
                font-size:80px;
                line-height:80px;
                height:230px;
            }
            p{
                font-size:22px;
            }
        }
        .real_right{
            img{
                max-width: 400px;
            }
        }
    }
    @media screen and (max-width:1100px) {
        padding: 30px;
        .real_left{
            h2{
                font-size:70px;
                line-height:75px;
                height:230px;
            }
            p{
                font-size:21px;
            }
        }
        .real_right{
            img{
                max-width: 400px;
            }
        }
    }
    @media screen and (max-width:1100px) {
        padding: 30px;
        gap: 0px;
        .real_left{
            h2{
                font-size:70px;
                line-height:75px;
                height:230px;
            }
            p{
                font-size:21px;
            }
        }
        .real_right{
            img{
                max-width: 300px;
            }
        }
    }
    // @media screen and (max-width:1100px) {
    //     padding: 30px;
    //     .real_left{
    //         h2{
    //             font-size:70px;
    //             line-height:75px;
    //             height:230px;
    //         }
    //         p{
    //             font-size:21px;
    //         }
    //     }
    //     .real_right{
    //         img{
    //             max-width: 400px;
    //         }
    //     }
    // }
    @media screen and (max-width:1000px) {
        padding: 20px;
        gap: 0px;
        .real_left{
            h2{
                font-size:60px;
                line-height:65px;
                height:150px;
            }
            p{
                font-size:20px;
                margin-top:30px;
            }
            a{
                margin-top:50px;
            }
        }
        .real_right{
            margin-left: 0;
            img{
                max-width:250px;
            }
        }
    }
    @media screen and (max-width:900px) {
        padding: 20px;
        .real_left{
            h2{
                font-size:55px;
                line-height:55px;
                height:130px;
                max-width:400px;
            }
            p{
                font-size:20px;
                margin-top:30px;
                max-width: 350px;
            }
            a{
                margin-top:100px;
            }
        }
        .real_right{
            img{
                // margin-left: -50px;
                max-width: 300px;
            }
        }
    }
    @media screen and (max-width:850px) {
        padding: 20px;
        .real_left{
            h2{
                font-size:50px;
                max-width:500px;
                line-height:50px;
                height:120px;
            }
            p{
                font-size:20px;
                max-width:400px;
                line-height:20px;
            }
        }
        .real_right{
            img{
                margin-left:50px;
                max-width: 300px;
            }
        }
    }
    @media screen and (max-width:700px){
        display: block;
    }  
}
.save_container{
   @extend .real_container;
   .real_left{
       margin-left:28px;
       max-width: 540px;
   }
}
.delivery_container{
    @extend .real_container
}
.cards{
    display: flex;
    gap:170px;
    padding: 65px;
}
.product_container{
    .flex{
        display: flex;
        align-items: center;
        margin-top: 157px;
        h2{
            max-width: 730px;
            height: 192px;
            font-family: 'Hind Siliguri';
            font-size: 96px;
            font-weight: 700;
            line-height: 96px;
            color: $dark-color;
        }
        p{
            max-width: 350px;
            height: 156px;
            font-family: 'Hind Siliguri';
            font-size: 24px;
            font-weight: 400;
            line-height: 38.81px;
            color: #BDBDBD;
        }
    }
    @mixin card{
        max-width: 350px;
        height: 350px;  
        text-align: center;
        margin-top: 80px;
    }
    @mixin img{
        margin-top: 63px;
    }
    @mixin h3{
        font-family: 'Hind Siliguri';
        margin-bottom: 12px;
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        margin-top: 44px;
    }
    @mixin p{
        max-width: 220px;
        height: 46px;
        font-family: 'Hind Siliguri';
        font-size: 14px;
        font-weight: 400;
        line-height: 22.64px;
        // margin-  left: 65px;
        color: #BDBDBD;
    }
    .card{
        @include card();
        img{
            @include img();
        }
        h3{
            @include h3();
        }
        p{
            @include p();
        }
        
    }
    @media screen and (max-width:883px) {
        .flex{
            text-align: center;
            display: block;
           h2{
                margin-left:50px;
                font-size: 70px;
                line-height:70px;
                padding-right: 40px;
                height:230px;
           }
           p{
                max-width:600px;
                margin-left:120px;
                padding-right:80px;
           }
        }
        .cards{
            gap:50px;
        }
    }
    @media screen and (max-width:783px){
        .cards{
            display: block;
            text-align: center;
            .card{
                margin-top:20px;
                height:200px;
                p{
                    margin-left:60px;
                }
            }

        }
    }
}